<div class="modal fade show" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Incluir clientes</h5>
      </div>
      <div class="modal-body">
        <p>Aqui vai o formulário</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-link btn-voltar-topo pe-0 me-3" appHandleBack><i class="la la-reply"></i> Voltar</a>
        <button type="button" class="btn btn-primary"><i class="la la-save"></i>Salvar</button>
      </div>
    </div>
  </div>
</div>
<div class="modla-backdrop fade show"></div>
