<div class="container mt-3">
  <div class="row">
    <div class="col-md-8 col-8 d-flex align-items-center mb-3 mb-sm-0">
      <h4 class="mb-0 fw-light">Clientes</h4>
    </div>
    <div class="col-4">
      <div class="d-flex align-items-start justify-content-end">
        <a class="btn btn-link btn-voltar-topo pe-0 me-3" appHandleBack><i class="la la-reply"></i> Voltar</a>
        <a class="btn btn-primary" routerLink='Incluir'><i class="la la-plus"></i> Incluir cliente</a>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3 d-flex justify-content-center" *ngIf="estaObtendoClientes" >
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

<div class="container mt-3" *ngIf="!this.estaObtendoClientes">
  <div class="card border-light shadow-sm bg-white rounded">
    <div class="table-responsive">
      <table class="table table-hover m-0">
        <thead>
          <tr>
            <th style="width:8%">Id</th>
            <th style="width:30%">Nome</th>
            <th style="width:20%">email</th>
            <th style="width:13%">Estado</th>
            <th style="width: 12%">Cidade</th>
            <th style="width:15%">Ativo</th>
            <th style="width: 1%"></th>
            <th style="width: 1%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{cliente.id}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.estado}}</td>
            <td>{{cliente.cidade}}</td>
            <td>{{cliente.ativo}}</td>
            <td><a class="btn btn-sm btn-danger text-nowrap"  [routerLink]='["Excluir", cliente.id, cliente.nome]'><i class="la la-trash"></i></a></td>
            <td><a class="btn btn-sm btn-secondary text-nowrap"  [routerLink]='["Alterar", cliente.id]'><i class="la la-edit mb-1"></i> Alterar</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card border-light shadow-sm" *ngIf="clientes.length === 0">
    <div class="card-body text-center">
      <span class="text-muted text-inf">Nenhum cliente cadastrado</span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


