<div class="modal fade show" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form [formGroup]="formIncluirFornecedor" (ngSubmit)="salvarFornecedor()">
        <fieldset [disabled]="estaEnviandoFormulario">
          <div class="modal-header">
            <h5 class="modal-title">Incluir Fornecedores</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="nome" class="form-label m-0">Nome Fantasia</label>
                  <input type="text" class="form-control" id="nome" formControlName="nomeFantasia">
                </div>
              </div>
              <div class="row">
                <div class="col-md-7">
                  <div class="mb-3">
                    <label for="razaoSocial" class="form-label m-0">Razão Social</label>
                    <input type="text" class="form-control" id="razaoSocial" formControlName="razaoSocial">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="mb-3">
                    <label for="ramoDeAtividade" class="form-label m-0">Ramo de atividade</label>
                    <input type="text" class="form-control" id="ramoDeAtividade" formControlName="ramoDeAtividade">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="dataDeNascimento" class="form-label  m-0">Pessoa</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected value="juridica">Jurídica</option>
                    <option value="fisica">Física</option>
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <div class="mb-3">
                  <label for="cnpj" class="form-label m-0">CNPJ</label>
                  <input type="number" class="form-control" id="cnpj" formControlName="cnpj">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="mb-3">
                  <label for="cep" class="form-label  m-0">CEP</label>
                  <input type="text" class="form-control" id="cep" formControlName="cep">
                </div>
              </div>
              <div class="col-md-5">
                <div class="mb-3">
                  <label for="estado" class="form-label  m-0">Estado</label>
                  <input type="text" class="form-control" id="estado" formControlName="estado">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="cidade" class="form-label  m-0">Cidade</label>
                  <input type="text" class="form-control" id="cidade" formControlName="cidade">
                </div>
              </div>
              <div class="col-md-8">
                <div class="mb-3">
                  <label for="endereco" class="form-label  m-0">Endereço</label>
                  <input type="text" class="form-control" id="endereco" formControlName="endereco">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div class="mb-3">
                  <label for="email" class="form-label  m-0">Email</label>
                  <input type="text" class="form-control" id="email" formControlName="email">
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-3">
                  <label class="form-label m-0">Ativo?</label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="ativo">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Sim</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-link btn-voltar-topo pe-0 me-3" appHandleBack><i class="la la-reply"></i> Voltar</a>
            <button type="submit" class="btn btn-primary"><i class="la la-save"></i>Salvar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
