<div class="container title-container">
  <div class="row">
    <div class="col-12 text-white text-left ">
      <span class="fs-3">Flamengo x Botafogo</span>
    </div>
    <div class="col-12 p-2 texto-cinza">
      <span class="fs-5">Bolão criado para o jogo de hoje</span>
    </div>
  </div>
</div>

<div class="container resultado-bolao">
  <div class="row">
    <div class="col-12 background-claro">
      <div class="row">
        <div class="col-12 form-group text-center pb-2">
          <span class="fs-4 texto-escuro">Ganhador do bolão:</span>
        </div>
        <div class="row form-group">
          <div class="col-12 form-group texto-escuro text-center">
            <span class="fs-2 fw-bold">THIAGO</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container title-container">
  <div class="row">
    <div class="col-12 p-2 text-white">
      <span class="fs-5">Palpite dos participantes</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Participante</th>
            <th scope="col">Palpite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="texto-ganhador" scope="row">1</th>
            <td class="texto-ganhador">Thiago</td>
            <td class="texto-ganhador">Flamengo 2 x 0 Botafogo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>João</td>
            <td>Flamengo 0 x 0 Botafogo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Maria</td>
            <td>Flamengo 0 x 1 Botafogo</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
