<header>
  <nav class="navbar main-header">
    <div class="container row">
      <div class="header-item col-12 col-md-2">
        <a class="navbar-brand fs-1 text-white initial" href="#">Bolão</a>
      </div>
      <div class="header-item col-2 col-md-2">
        <a class="navbar-brand fs-5 text-white text-center" href="#">Perfil</a>
      </div>
      <div class="header-item col-4 col-md-2">
        <a class="navbar-brand fs-5 text-white text-center text-wrap" href="#">Meus Bolões</a>
      </div>
      <div class="header-item col-2 col-md-2">
        <a class="navbar-brand fs-5 text-white text-center" href="#">Criar</a>
      </div>
      <div class="header-item col-2 col-md-2">
        <a class="navbar-brand fs-5 text-white text-center" href="#">Entrar</a>
      </div>
      <div class="header-item col-2 col-md-2">
        <a class="navbar-brand fs-5 text-white text-center" href="#">Sair</a>
      </div>
    </div>
  </nav>
</header>
