<div id="create-bolao">
  <div class="container title-container">
    <div class="row">
      <div class="col-8 text-white text-left ">
        <span class="fs-3">Criar um bolão</span>
      </div>
      <div class="col-4 p-2 text-right">
        <button class="btn btn-info mx-2">Voltar</button>
        <button class="btn btn-success mx-2">Criar</button>
      </div>
    </div>
  </div>
  <div class="container form-container">
    <form>
      <div class="row">

        <div class="col-8 form-group titulo-form-group texto-escuro">
          <label for="inputTitulo">Titulo</label>
          <input type="text" class="form-control" id="inputTitulo">
        </div>

        <div class="col-4 form-group titulo-form-group texto-escuro">
          <label for="flexVisibilidadeBolao">Visibilidade do Bolão</label>
          <div class="row">
            <div class="col-6">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexVisibilidadeBolao" id="visibilidadeBolaoPriv" checked>
                <label class="form-check-label" for="visibilidadeBolao">
                  Privado
                </label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexVisibilidadeBolao" id="visibilidadeBolaoPub">
                <label class="form-check-label" for="visibilidadeBolaoPub">
                  Público
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 form-group descricao-form-group texto-escuro">
          <label for="inputDescricao">Descricao</label>
          <input type="text" class="form-control" id="inputDescricao">
        </div>
        <div class="col-12 form-group tipo-resposta-form-group texto-escuro">
          <label for="tipoResposta">Tipo de Resposta</label>
          <select [(ngModel)]="tipoResposta" class="form-select" name="tipoResposta" id="tipoResposta">
            <option selected disabled value="">Selecione...</option>
            <option value="1">Placar Esportivo</option>
            <option value="2">Outros</option>
          </select>
        </div>

        <div *ngIf="tipoResposta === '1'" class="col-12">
          <div class="tipo-resposta-container">
            <div class="col-12 form-group">
              <span class="fs-4 text-center">Placar Esportivo</span>
            </div>
            <div class="row form-group">
              <div class="col-6 form-group time-form-group texto-escuro">
                <label for="inputTimeCasa">Time 1</label>
                <input type="text" class="form-control" id="inputTimeCasa">
              </div>
              <div class="col-6 form-group time-form-group texto-escuro">
                <label for="inputTimeVisitante">Time 2</label>
                <input type="text" class="form-control" id="inputTimeVisitante">
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="tipoResposta === '2'" class="col-12">
          <div class="tipo-resposta-container">
            <div class="col-12 form-group">
              <span class="fs-4 text-center">Outros</span>
            </div>
            <div class="row form-group">
              <div class="col-12 form-group time-form-group texto-escuro">
                <label for="inputEscolha1">Resposta 1</label>
                <input type="text" class="form-control" id="inputEscolha1">
              </div>
              <div class="col-12 form-group time-form-group texto-escuro">
                <label for="inputEscolha2">Resposta 2</label>
                <input type="text" class="form-control" id="inputEscolha2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
