<div class="container text-white login">
  <div class="login-container row">
    <div class="logo-container text-center col-12">
      <img class="logo-bolao" src="../../../assets/images/logo-times/polvo_bolao.png">
    </div>
    <div class="texto-escuro texto-bolao text-center col-12">
      <span class="fs-1">Bolão</span>
    </div>
    <div class="row">
      <form>
        <div class="form-group email-form-group texto-escuro">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
        </div>
        <div class="form-group senha-form-group texto-escuro">
          <label for="inputPassword">Senha</label>
          <input type="password" class="form-control" id="inputSenha">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-bolao-login">Submit</button>
        </div>
        <div class="text-center row p-3">
          <small><a href="">Crie uma conta</a></small>
        </div>
      </form>
    </div>
  </div>
</div>