<div class="modal-backdrop fade show"></div>
<div class="modal fade show" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Excluir cliente</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <span>Tem certeza que deseja excluir o cliente <b>{{nomeCliente}}</b>?</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-link btn-voltar-topo pe-0 me-3" appHandleBack><i class="la la-reply"></i> Voltar</a>
            <button type="button" class="btn btn-danger" (click)="excluirCliente()"><i class="la la-save"></i>Excluir</button>
          </div>
  </div>
</div>


