<div class="container text-white login">
  <div class="login-container row">
    <div class="logo-container text-center col-12">
      <img class="logo-bolao" src="../../../assets/images/logo-times/polvo_bolao.png">
    </div>
    <div class="texto-escuro texto-bolao text-center col-12">
      <span class="fs-1">Bolão</span>
    </div>
    <div class="row">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group email-form-group texto-escuro">
          <label for="inputEmail">Email</label>
          <input type="text" formControlName="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Seu email aqui..." required>
        </div>
        <div class="form-group senha-form-group texto-escuro">
          <label for="inputSenha">Senha</label>
          <input type="password" formControlName="senha" class="form-control" id="inputSenha" placeholder="Insira sua senha" required>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-bolao-login fs-5 px-3">Entrar</button>
        </div>
        <div class="text-center row p-3">
          <small><a href="">Esqueci minha senha</a></small>
        </div>
        <div class="text-center row p-3">
          <a href="" [routerLink]="['/sign-up']">Crie uma conta</a>
        </div>
      </form>
    </div>
  </div>
</div>
