@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700&display=swap");

body {
  font-family: Poppins, Helvetica, "sans-serif" !important;
  background-color: #f9fafb !important;
  color: #555;
  height: 100%;
}

header {
  background-color: #427AA1;
}

a:hover,
button:hover,
a{
  text-decoration: none !important;
}

.btn-time {
  border-color: #cdb88b !important;
  background-color: #cdb88b !important;
  color: #fff !important;
}

.btn-time :hover {
  border-color: #b19864 !important;
  background-color: #b19864 !important;
}
