@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700&display=swap");

body {
  font-family: Poppins, Helvetica, "sans-serif" !important;
  background-color: #f9fafb !important;
  color: #555;
  height: 100%;
}

header {
  background-color: #427AA1;
}

a:hover,
button:hover,
a{
  text-decoration: none !important;
}

.btn i{
  font-size: 1.3em;
  vertical-align: inherit;
}

.btn {
  font-weight: 300;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  font-size: 1em;
}

.btn-time {
  border-color: #cdb88b !important;
  background-color: #cdb88b !important;
  color: #fff !important;
}

.btn-time :hover {
  border-color: #b19864 !important;
  background-color: #b19864 !important;
}

.card-home{
  cursor: pointer;
  background-image: linear-gradient(to right, #5f7e95, #355972) !important;
}

.card-hover:hover .card{
  box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.35) !important;
}
