<div class="container title-container">
  <div class="row">
    <div class="col-12 text-white text-left ">
      <span class="fs-3">Administrar bolão</span>
    </div>
    <div class="col-12 p-2 texto-cinza">
      <span class="fs-5">Bolão criado para o jogo de hoje</span>
    </div>
  </div>
</div>

<div class="container resultado-bolao">
  <div class="row">
    <div class="col-12 background-claro">
      <div class="row">
        <div class="col-12 form-group text-center pb-2">
          <span class="fs-4 texto-escuro">Bolão finalizado, insira o resultado</span>
        </div>
        <div class="row form-group">
          <div class="col-6 form-group time-form-group texto-escuro">
            <label for="inputTimeCasa">Flamengo</label>
            <input type="text" class="form-control" id="inputTimeCasa">
          </div>
          <div class="col-6 form-group time-form-group texto-escuro">
            <label for="inputTimeVisitante">Botafogo</label>
            <input type="text" class="form-control" id="inputTimeVisitante">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container title-container">
  <div class="row">
    <div class="col-12 p-2 text-white">
      <span class="fs-5">Palpite dos participantes</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Participante</th>
            <th scope="col">Palpite</th>
            <th  class="text-center" scope="col text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Thiago</td>
            <td>Flamengo 2 x 0 Botafogo</td>
            <td class="text-center"><i class="las la-trash fs-3"></i></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>João</td>
            <td>Flamengo 0 x 0 Botafogo</td>
            <td class="text-center"><i class="las la-trash fs-3"></i></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Maria</td>
            <td>Flamengo 0 x 1 Botafogo</td>
            <td class="text-center"><i class="las la-trash fs-3"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
