<!-- Loading Spinner -->
<div class="container" *ngIf="isLoading">
  <div class="row">
    <div class="col-12 text-center text-white">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Carregando...</span>
      </div>
      <p class="mt-2">Carregando dados do bolão...</p>
    </div>
  </div>
</div>

<div class="container title-container" *ngIf="!isLoading">
  <div class="row">
    <div class="col-12 text-white text-center ">
      <span class="fs-2">Administrar bolão</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-white text-left ">
      <span class="fs-4">Bolão: {{ model.nome }}</span>
    </div>
    <div class="col-12 p-2 texto-cinza">
      <span class="fs-5">{{ model.descricao }}</span>
    </div>
  </div>
</div>

<div class="container resultado-bolao" *ngIf="!isLoading">
  <div class="row">
    <div class="col-12 background-claro">
      <div class="row">
        <div class="col-12 form-group text-center pb-2">
          <span class="fs-4 texto-escuro">Escolha o resultado do Bolão</span>
        </div>
        <div class="form-group">

          <div *ngFor="let opcao of this.model.opcoes; let i = index" class="form-group texto-escuro row p-2">
            <div class="col-10">
              <div class="col-12">
                <label>Opção {{ i + 1 }}</label>
              </div>
              <div class="col-12">
                <span class="fs-3">{{ opcao.descricao }}</span>
              </div>
            </div>
            <div class="col-2 h-100">
              <button type="button" class="btn btn-success btn-sm" (click)="escolherOpcao(opcao.id)">Escolher</button>
            </div>
          </div>

        </div>
        <div class="col-12 texto-escuro" *ngIf="isLoadingEscolha">
          <!-- Loading Spinner -->
          <div class="container" >
            <div class="row">
              <div class="col-12 text-center texto-escuro">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden texto-escuro">Carregando...</span>
                </div>
                <p class="mt-2 texto-escuro">Escolhendo opção ganhadora do bolão...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container title-container" *ngIf="!isLoading">
  <div class="row">
    <div class="col-12 p-2 text-white">
      <span class="fs-5">Palpite dos participantes</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Participante</th>
            <th scope="col">Palpite</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let palpite of palpites; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ palpite.user }}</td>
            <td>{{ opcoes[palpite.opcao] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
